body{
	text-align: center;
	background-image: url('images/back.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
a{
	padding: 12px 16px;
	margin: 10px;
	text-decoration: none;
	background-color: transparent;
	color: white;
	border: none;
}
a:hover{
	background-color: #555;
	cursor: pointer;
}
input{
	padding: 12px 16px;
	margin: 10px;
}
input.sub{
	background-color: transparent;
	color: white;
	border: none;
}
input.sub:hover{
	background-color: #555;
	cursor: pointer;
}
div.container{
	height: 10%;
}